.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-self: center;
  width: 282px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
