.form__button {
  width: 358px;
  min-height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: black;
  color: white;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}


.form__button:hover {
  opacity: .7;
  cursor: pointer;
}


@media screen and (max-width: 425px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    min-height: 46px;
  }
}
