.form__subname {
  margin-bottom: 48px;
  border: none;
  border-bottom: 1px solid grey;
  max-width: 358px;
  height: 27px;
  margin: 0 36px 48px;
}

@media screen and (max-width: 425px) {
  .form__subname {
    max-width: 238px;
    height: 27px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 0 45px 0;

  }
}
