.profile__sub-info {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: subinfo;
}


@media screen and (max-width: 768px) {
  .profile__sub-info {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__sub-info {
    margin-left: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}

