.form__close-button {
  position: absolute;
  top: -40px;
  left: 425px;
  padding: 20px;
  background: url(../../../images/closeIcon.svg);
  background-position: center;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
}


.form__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .form__close-button {
    top: -50px;
    left: 246px;
    padding: 13px;
  }

}
